:root{
    --branco: #ffff;
    --preto: #2a2a2a;
    --azul-escuro: #000080;
    --azul: #3754f8;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
}

.toolbar{
    height: 80px;
}

.toolbar-inner{
    background: var(--azul);
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;    
}

.toolbar-inner .link:not(.active){
    color: var(--branco);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

/* PÁGINA INDEX - HOME */

.top-nav{
    width: 100%;
    height: 60px;
    background: var(--azul-escuro);
    display: flex;
    align-items: center;
    color: var(--branco);  
}
    .title-logo{
        font-weight: 600;
        margin-left: 35%;
    }

    .btn-logo{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;  
        font-size: 40px;
        color: var(--branco)
    }

.top-nav-home{
    width: 100%;
    height: 100px;
    color: var(--branco);
    background: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

        .title-logo-home{
            margin-bottom: 10px;
            margin-top: -3px;
        }

        .btn-logo-home{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2%;  
            font-size: 60px;
            color: var(--branco)
        }

.top-nav-menu{
    width: 100%;
    height: 40px;
    color: var(--branco);
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    
}

        .btn-option01-menu{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 27%;  
            font-size: 16px;
            color: var(--branco)
        }

            .title-option01-menu{
                color: var(--preto); 
                margin-bottom: 10px;
                 margin-top: 10px;
            }

        .btn-option02-menu{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 27%;  
            font-size: 16px;
            color: var(--branco)
        }

            .title-option02-menu{
               color: var(--preto); 
              margin-bottom: 10px;
             margin-top: 10px;
             }

.page-content{
    background: linear-gradient(#000080, #3754f8 );
}

.block-01-option{
    background: linear-gradient(#ffffff, #b9b8b8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
}

        .title-block-01-option{
            color: var(--preto); 
            font-size: 25px;
            margin-left: 20px;
        }

        .btn-block-01-option{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;  
            font-size: 40px;
            color: var(--preto);
        }

.swiper {
    width: 100%;
    height: 180px;
    background: var(--branco);
    
  }

        .swiper-slide {
            font-size: 18px;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 30px;
        } 

.block-02-option{
    background: linear-gradient(#ffffff, #b9b8b8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
}
       
       .title-block-02-option{
            color: var(--preto); 
            font-size: 25px;
            margin-left: 20px;
       }
       
       .btn-block-02-option{
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;  
        font-size: 40px;
        color: var(--preto);
       }        


.swiper02 {
    width: 100%;
    height: 180px;
    background: var(--branco);
  }

        .swiper-slide-02 {
            font-size: 18px;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 30px;
        }
        
.boton-order{
    width: 100px;
    height: 75px;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    margin: 10px auto;  
}
    .title-boton-order{
        font-size: 15px;
        margin-bottom: 3px;
        margin-left: 4px;
    }
        
    .btn-boton-order{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 28%;  
        font-size: 60px;
        color: var(--branco)
    }        

/* LINK 02 - PÁGINA DE MENU */

.menu-vertical{
    width: 100%;
    height: 700px;
    color: var(--branco);
    flex-direction: column;
}

    .title-menu{
        align-items: center;
        margin-left: 2%;
        text-align: center;
    }
            .title-menu-01{
                color: var(--branco);
            }

            .title-menu-02{
                color: var(--branco);
            }

            .title-menu-03{
                color: var(--branco);
            }

/* LINK 03 - PÁGINA DE HISTÓRICO DE BATE-PAPO */



.title-chat{
    
    height: 20px;
    color: var(--preto);
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px ;
}

.swiper03 {
    width: 100%;
    height: 670px;
    background: #e9e8e8;
  }

        .swiper-slide-03 {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 7px;
        }

    .conversa-01{
        background: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 4px var(--preto);
        margin: 10px;
        font-size: 10px;
        max-width: calc(100% - 20px);
        box-sizing: border-box;
    }
        .btn-conversa-01{
            display: flex;
            justify-content: flex-end;
            font-size: 45px;
            width: 40px;
            height: 40px;
            margin-left: auto;  
            color: var(--preto)
        }

        .conversa-02{
            background: var(--branco);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 4px var(--preto);
            margin: 10px;
            max-width: calc(100% - 20px);
            box-sizing: border-box;
            font-size: 10px;
        }
            .btn-conversa-02{
                display: flex;
                justify-content: flex-end;
                font-size: 45px;
                width: 40px;
                height: 40px;
                margin-left: auto;  
                color: var(--preto)
            }

            .conversa-03{
                background: var(--branco);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 4px var(--preto);
                margin: 10px;
                max-width: calc(100% - 20px);
                box-sizing: border-box;
                font-size: 10px;
            }
                .btn-conversa-03{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 45px;
                    width: 40px;
                    height: 40px;
                    margin-left: auto;  
                    color: var(--preto)
                }
            
                .conversa-04{
                    background: var(--branco);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border: 4px var(--preto);
                    margin: 10px;
                    max-width: calc(100% - 20px);
                    box-sizing: border-box;
                }
                    .btn-conversa-04{
                        display: flex;
                        justify-content: flex-end;
                        font-size: 45px;
                        width: 40px;
                        height: 40px;
                        margin-left: auto;  
                        color: var(--preto)
                    } 
                    
                    

/* LINK 03 PÁGINA 01 - PÁGINA DE BATE-PAPO */

.chat-card {
    width: 100%;
    height: 670px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
    .chat-header {
        padding: 10px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
    }
    
    .chat-header .h2 {
        font-size: 16px;
        color: #333;
    }
    
    .chat-body {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;
        height: 700px;
        width: 810px;
    }
    
    .message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
      
    }
    
    .incoming {
        background-color: #e1e1e1;
    }
    
    .outgoing {
        background-color: #f2f2f2;
        text-align: right;
    }
    
    .message p {
        font-size: 14px;
        color: #333;
        margin: 0;
    }
    
    .chat-footer {
        padding: 10px;
        background-color: #f2f2f2;
        display: flex;
    }
    
    .chat-footer input[type="text"] {
        width: 1720px;
        flex-grow: 1;
        padding: 15px;
        border: none;
        border-radius: 3px;
    }
    
    .chat-footer button {
        padding: 5px 10px;
        border: none;
        background-color: var(--azul);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .chat-footer button:hover {
        background-color: #13b6df;
    }
    
    @keyframes chatAnimation {
        0% {
        opacity: 0;
        transform: translateY(10px);
        }
    
        100% {
        opacity: 1;
        transform: translateY(0);
        }
    }
    
    .chat-card .message {
        animation: chatAnimation 0.3s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 0.1s;
    }
    
    .chat-card .message:nth-child(even) {
        animation-delay: 0.2s;
    }
    
    .chat-card .message:nth-child(odd) {
        animation-delay: 0.3s;
    }
    
/* TELA DE CRIAÇÃO DE PEDIDOS -     home-pag1.html */

.page-new-order{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.input-field {
    margin-bottom: 10px;
}
.input-field input {
    width: 600px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--branco);
}

    .input-field-02 {
        margin-bottom: 10px;
    }
    .input-field-02 input {
        width: 600px;
        height: 550px;
        padding: 100px;
        background: var(--branco);
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

.title-boton-conf{
    margin: 3;
    font-size: 15px;
    align-items: center;
    color: var(--branco);
    
}
    .btn-confirma {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2%;  
            font-size: 60px;
            color: var(--branco)
    }