:root{
    --branco: #ffff;
    --preto: #2a2a2a;
    --azul-escuro: #000080;
    --azul: #3754f8;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
}

.toolbar{
    height: 80px;
}

.toolbar-inner{
    background: var(--azul);
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;    
}

.toolbar-inner .link:not(.active){
    color: var(--branco);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

/* PÁGINA INDEX - HOME */

.top-nav{
    width: 100%;
    height: 60px;
    background: var(--azul-escuro);
    display: flex;
    align-items: center;
    color: var(--branco);  
}
    .title-logo{
        font-weight: 600;
        margin-left: 35%;
    }

    .btn-logo{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2%;  
        font-size: 40px;
        color: var(--branco)
    }

.top-nav-home{
    width: 100%;
    height: 100px;
    color: var(--branco);
    background: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

        .title-logo-home{
            margin-bottom: 10px;
            margin-top: -3px;
        }

        .btn-logo-home{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2%;  
            font-size: 60px;
            color: var(--branco)
        }

.top-nav-menu{
    width: 100%;
    height: 40px;
    color: var(--branco);
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    
}

        .btn-option01-menu{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 27%;  
            font-size: 16px;
            color: var(--branco)
        }

            .title-option01-menu{
                color: var(--preto); 
                margin-bottom: 10px;
                 margin-top: 10px;
            }

        .btn-option02-menu{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 27%;  
            font-size: 16px;
            color: var(--branco)
        }

            .title-option02-menu{
               color: var(--preto); 
              margin-bottom: 10px;
             margin-top: 10px;
             }

.page-content{
    background: linear-gradient(#000080, #3754f8 );
}

.block-01-option{
    background: linear-gradient(#ffffff, #b9b8b8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
}

        .title-block-01-option{
            color: var(--preto); 
            font-size: 25px;
            margin-left: 20px;
        }

        .btn-block-01-option{
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;  
            font-size: 40px;
            color: var(--preto);
        }

.swiper {
    width: 100%;
    height: 100%;
    background: var(--branco);
    
  }

        .swiper-slide {
            font-size: 18px;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 30px;
        } 

.block-02-option{
    background: linear-gradient(#ffffff, #b9b8b8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 16px;
    border: 1px solid black;
}
       
       .title-block-02-option{
            color: var(--preto); 
            font-size: 25px;
            margin-left: 20px;
       }
       
       .btn-block-02-option{
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;  
        font-size: 40px;
        color: var(--preto);
       }        


.swiper02 {
    width: 100%;
    height: 100%;
    background: var(--branco);
  }

        .swiper-slide-02 {
            font-size: 18px;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 30px;
        }
        
.boton-order{
    width: 100px;
    height: 75px;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    margin: 10px auto;  
}
    .title-boton-order{
        font-size: 15px;
        margin-bottom: 3px;
        margin-left: 4px;
    }
        
    .btn-boton-order{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 28%;  
        font-size: 60px;
        color: var(--branco)
    }        

/* LINK 02 - PÁGINA DE MENU */

.menu-vertical{
    width: 100%;
    height: 700px;
    color: var(--branco);
    flex-direction: column;
}

    .title-menu{
        align-items: center;
        margin-left: 2%;
        text-align: center;
    }
            .title-menu-01{
                color: var(--branco);
            }

            .title-menu-02{
                color: var(--branco);
            }

            .title-menu-03{
                color: var(--branco);
            }

/* LINK 03 - PÁGINA DE BATE-PAPO */

.title-chat{
    
    height: 20px;
    color: var(--preto);
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px ;
}

    .conversa-01{
        background: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 4px var(--preto);
        margin: 10px;
    }
        .btn-conversa-01{
            display: flex;
            justify-content: end;
            font-size: 45px;
            width: 40px;
            height: 40px;
            margin-left: 85%;  
            color: var(--preto)
        }

        .conversa-02{
            background: var(--branco);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 4px var(--preto);
            margin: 10px;
        }
            .btn-conversa-02{
                display: flex;
                justify-content: end;
                font-size: 45px;
                width: 40px;
                height: 40px;
                margin-left: 85%;  
                color: var(--preto)
            }

            .conversa-03{
                background: var(--branco);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 4px var(--preto);
                margin: 10px;
            }
                .btn-conversa-03{
                    display: flex;
                    justify-content: end;
                    font-size: 45px;
                    width: 40px;
                    height: 40px;
                    margin-left: 85%;  
                    color: var(--preto)
                }